.App {
    border: solid black 1px;
    text-align: center;
    background-image: url("sun.jpg"); /* Temp: only for test purpouse */
    background-size: cover;
    height: 100vh;
    color: white;
}
