.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background: rgba(255, 255, 255, 0.3); */
    backdrop-filter: blur(5px);
    width: 42.5vh;
}

.search-bar {
    width: 70%;
    padding: 10px;
    border-radius: 30px;
    border: none;
}

.logo {
    font-size: 24px;
}

.menu-dots {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 10px;
  height: auto;
  cursor: pointer;
}  

.menu-dots span {
  display: block;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
}